obproject/private/
builprivate/
build/
nbbuild/
dist/record/
nbdist/
nbactions.xml
.nb-gradle//
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/
/record
/dbsetting
*.csv
!testdata/testdata.csv
!dist\FillAirQualityData.bat
!dist\epa_air_2015.csv
!dist\testdata.csv